div{
    background-color: rgb(133, 9, 9);
    height: 2000px;
    text-align: center;
}
h1, h2, p{

    color: rgb(235, 241, 241);
}
ul{
    display: inline-block;
    text-align: center;
    text-align: left;
    color: rgb(235, 241, 241);
}

